@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Signika+Negative:wght@300&display=swap');


/**********************************************
*** GENERAL
**********************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.out-anchor{
    display: flex;
    justify-content: center;
    padding: 20px;
}

body {
    color: #555;
    font-family: Open Sans;
    font-size: 16px;
    position: relative;
    height: 100vh;
    font-weight: 400;
}

.budget-body{
    overflow: scroll;
}

.right { float: right; }
.red { color: #FF5049 !important; }
.red-focus:focus { border: 1px solid #FF5049 !important; }

/**********************************************
*** TOP PART
**********************************************/

.top {
    height: 40vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(img/back.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

.budget {
    position: absolute;
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.budget__title {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 300;
}

.budget__value {
    font-weight: 300;
    font-size: 46px;
    text-align: center;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

.budget__income,
.budget__expenses {
    padding: 12px;
    text-transform: uppercase;
}

.budget__income {
    margin-bottom: 10px;
    background-color: #28B9B5;
}

.budget__expenses {
    background-color: #FF5049;
}

.budget__income--text,
.budget__expenses--text {
    float: left;
    font-size: 13px;
    color: #444;
    margin-top: 2px;
}

.budget__income--value,
.budget__expenses--value {
    letter-spacing: 1px;
    float: left;
}

.budget__income--percentage,
.budget__expenses--percentage {
    float: left;
    width: 34px;
    font-size: 11px;
    padding: 3px 0;
    margin-left: 10px;
}

.budget__expenses--percentage {
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    border-radius: 3px;
}


/**********************************************
*** BOTTOM PART
**********************************************/

/***** FORM *****/
.add {
    padding: 14px;
    border-bottom: 1px solid #e7e7e7;
    background-color: #f7f7f7;
}

.add__container {
    margin: 0 auto;
    text-align: center;
}

.add__type {
    width: 55px;
    border: 1px solid #e7e7e7;
    height: 44px;
    font-size: 18px;
    color: inherit;
    background-color: #fff;
    margin-right: 10px;
    font-weight: 300;
    transition: border 0.3s;
}

.add__description,
.add__value {
    border: 1px solid #e7e7e7;
    background-color: #fff;
    color: inherit;
    font-family: inherit;
    font-size: 14px;
    padding: 12px 15px;
    margin-right: 10px;
    border-radius: 5px;
    transition: border 0.3s;
}

.add__description { width: 400px;}
.add__value { width: 100px;}

.add__btn {
    font-size: 35px;
    background: none;
    border: none;
    color: #28B9B5;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1;
    margin-left: 10px;
}

.add__btn:active { transform: translateY(2px); }

.add__type:focus,
.add__description:focus,
.add__value:focus {
    outline: none;
    border: 1px solid #28B9B5;
}

.add__btn:focus { outline: none; }

/***** LISTS *****/
.container {
    width: 1000px;
    margin: 60px auto;
}

.income {
    float: left;
    width: 475px;
    margin-right: 50px;
}

.expenses {
    float: left;
    width: 475px;
}

h2 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
}

.icome__title { color: #28B9B5; }
.expenses__title { color: #FF5049; }

.item {
    padding: 13px;
    border-bottom: 1px solid #e7e7e7;
}

.item:first-child { border-top: 1px solid #e7e7e7; }
.item:nth-child(even) { background-color: #f7f7f7; }

.item__description {
    float: left;
}

.item__value {
    float: left;
    transition: transform 0.3s;
}

.item__percentage {
    float: left;
    margin-left: 20px;
    transition: transform 0.3s;
    font-size: 11px;
    background-color: #FFDAD9;
    padding: 3px;
    border-radius: 3px;
    width: 35px;
    text-align: center;
}

.income .item__value,
.income .item__delete--btn {
    color: #28B9B5;
}

.expenses .item__value,
.expenses .item__percentage,
.expenses .item__delete--btn {
    color: #FF5049;
}


.item__delete {
    float: left;
}

.item__delete--btn {
    font-size: 22px;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    display: none;
}

.item__delete--btn:focus { outline: none; }
.item__delete--btn:active { transform: translateY(2px); }

.item:hover .item__delete--btn { display: block; }
.item:hover .item__value { transform: translateX(-20px); }
.item:hover .item__percentage { transform: translateX(-20px); }


.unpaid {
    background-color: #FFDAD9 !important;
    cursor: pointer;
    color: #FF5049;

}

.unpaid .item__percentage { box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1); }
.unpaid:hover .item__description { font-weight: 900; }
























*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Signika Negative', sans-serif;
}

.wrapper{
    background: rgb(100,147,142);
    background: radial-gradient(circle, rgba(100,147,142,0.7) 1%, rgba(48,83,81,1) 100%);
    height: 100vh;
}


.overlay{
    /* background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,0.1) 7%, rgba(0,0,0,0.5) 100%); */
background-color: rgba(0,0,0,0.5);
    height: 100vh;
}

.first{
    position: relative;
    left: 90px;
    top:50px;
    width: 45%;
    /* background-color: WHITE; */
    height: 100vh;
    
   
}

@keyframes first {
    from {
       
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }

  .text2{
    animation: text2 3s 1.5s forwards;
    margin-left:-600px;
  }

  @keyframes text2{
    from {
        margin-left:-600px;
    }

    to{
        margin-left: 30px;
    }

}

.text{
    margin-top: 200px;
    
}
.text p{
    color: white;
    padding-top: 4px;
}

hr{
    background-color: white;
    width: 100px;
    margin-right: 20px;
}

.first span{

    padding: 10px 10px;
    margin-top: 10px;
    font-size: 90px;
    color: white;
    font-family: 'Parisienne', cursive;
    line-height: 90px;
    font-weight: 10px !important;
  
    
}



nav{
   color:white;
   text-align: center;
   animation: first 1s 0.2s forwards ease-in;
    
    opacity: 0;
}

.check{
    /* background-color: white; */
    width: 300px;
}

.logo{
    font-size: 20px;
   display: inline;
   color:rgba(48,83,81,1);
   width: 50px;
   height: 40px;
  background-color: white;
   /* border-radius: 50%; */
   text-align: center;
}

.logo i{
    padding:10px 10px;
}





nav ul{
    width: 100%;
    list-style: none;
    margin-left: 90px;
}

nav p{
    padding: 10px 10px;
}

li{
    padding: 10px 10px;
}


.semi-circle{
    border: none;
    position: relative;
    left: 50%;
    bottom: 250px;
    transform: translate(-50%);
   z-index: 0;
    box-shadow: -1px -4px 20px 6px rgba(0,0,0,0.2);
    width: 750px;
    height: 750px;
    border-radius: 50%;
    background-color: #FFE3D7;
    animation: semi-circle 3.5s 2.5s forwards;
    opacity: 0;
}


@keyframes semi-circle {
    0% {
        
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }

img{
    height: 900px;
    width: 1400px;
    filter:drop-shadow(8px 8px 10px rgba(48,83,81,0.6));
    position: absolute;
    left: 50%;
    /*   */
    
    transform: translate(-50%);
    /* bottom: 820px; */
    animation: imgLoad 4.5s 4s forwards ;
    
   
}


@keyframes imgLoad {
    0% {
        top: 700px;
        /* opacity: 0; */
    }
    100% {
        top: 20px;
    }
  }

.second{
    position: relative;
    left: 1000px;
    bottom:1550px;
    width: 30%;
   /* background-color: white; */
    height: 95vh;
    
}

.nav-end{
   
    text-align: right;
    width: 300px;
    height: 100px;
    margin-top:20px !important;
    
   
    color: black;
    animation: first 1s 0.2s forwards ease-in;
    
    opacity: 0;
}

.nav-end button{
    padding: 10px 20px;
    border: none;
    border-radius:5px;
    background-color: #FFE3D7 ;
    font-size: 13px;
    transition: 1s;
}

button a{
    color: black;
    
}
.nav-end button:hover{
    background-color:rgba(48,83,81,1);
    color: white;
}

.cards {
  
   height: 100px;
   border-radius: 10px;
   background-color: rgba(255,255,255, 0.5);
   width: 350px;
}

.right{
    line-height: 15px !important;
}
.one{
    margin-bottom:20px !important;
    
    animation: one 3s 1.5s forwards;
    position: relative;
    right:-600px;
}

@keyframes one{
    from{
        right:-600px;
    }

    to{
        right:0px;
    }
}

.two{
    margin-bottom:100px !important;
    animation: two 3s 1.8s forwards;
    position: relative;
    right:-600px;
}

@keyframes two{
    from{
        right:-600px;
    }

    to{
        right:0px;
    }
}

.card-text{
    padding: 20px 20px;
}

.cards h6{
    color: white;
    font-weight: bolder;
}
.cards p{
   font-size: 14px;
   font-weight: bolder;
}

.cards .icon span{
    padding: 20px 25px;
    background-color:  rgba(255,255,255, 0.8);;
    border-radius: 50%;
}

.mobile{
    display: none;
}




  @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {

    .mobile{
        display: block;
    }
    .wrapper{
        display: none;
    }
    .overlay{
        display: none;
    }

    .boat{
        position: relative;
        top: 650px;
    }

    html, body {
        background: #130560;
        overflow: hidden;
      }
      
      .seaContainer {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background: #130560;
        overflow: hidden;
      }
      
      .submarine__container {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 400px;
        height: 200px;
        transform: translate(-50%, -50%);
      }
      
      .submarine__body {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 250px;
        height: 80px;
        background: #e30449;
        border-radius: 50px;
        transform: translate(-50%, -50%);
      }
      
      .submarine__propeller {
        position: absolute;
        left: 80%;
        top: 50%;
        width: 30px;
        height: 50px;
        transform: translate(0%, -50%);
        perspective: 600px;
      }
      
      .propeller__perspective {
        width: 100%;
        height: 100%;
        transition: transform 1s;
        transform-style: preserve-3d;
        -webkit-animation: rotateInfinite 1s linear infinite;
                animation: rotateInfinite 1s linear infinite;
        cursor: pointer;
      }
      
      .submarine__propeller-parts {
        position: absolute;
        left: 0%;
        width: 100%;
        height: 100%;
        top: 0%;
        perspective: 1000px;
        transform-style: preserve-3d;
      }
      
      .darkOne {
        top: 0%;
        background: #f7ac08;
        transform: rotateY(180deg) rotateX(225deg);
      }
      
      .lightOne {
        top: 0%;
        background: #f7e349;
        transform: rotateX(45deg);
      }
      
      .submarine__sail {
        position: absolute;
        top: 40%;
        left: 50%;
        width: 90px;
        height: 50px;
        transform: translate(-50%, -100%);
        background: #c6003d;
        -webkit-clip-path: polygon(0% 0%, 70% 0%, 100% 100%, 0% 100%);
                clip-path: polygon(0% 0%, 70% 0%, 100% 100%, 0% 100%);
      }
      
      .submarine__sail-shadow {
        position: absolute;
        width: 160%;
        height: 10%;
        background: #a10532;
        border-radius: 5px;
      }
      
      .dark1 {
        left: 0%;
        top: 0%;
        transform: translate(0%, -33%);
      }
      
      .dark2 {
        left: 0%;
        top: 50%;
      }
      
      .light1 {
        left: 20%;
        top: 20%;
        width: 50%;
        background: #ef689e;
      }
      
      .submarine__window {
        width: 25px;
        height: 25px;
        border-radius: 100%;
        background-image: linear-gradient(45deg, #c9e5d9, #fff);
        border: 8px solid #a10532;
        z-index: 10;
        -webkit-animation: shadow-change 1s linear infinite;
                animation: shadow-change 1s linear infinite;
      }
      
      .one,
      .two {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      
      .one {
        left: 40%;
      }
      
      .two {
        left: 20%;
      }
      
      .submarine__shadow-dark {
        position: absolute;
        left: 70%;
        top: 50%;
        width: 70px;
        height: 10px;
        border-radius: 5px;
        transform: translate(-50%, -50%);
        background: #a10532;
      }
      
      .submarine__shadow-light {
        position: absolute;
        left: 35%;
        top: 13%;
        width: 100px;
        height: 6px;
        border-radius: 5px;
        transform: translate(-50%, -50%);
        background: #ef689e;
      }
      
      .submarine__shadow-arcLight {
        position: absolute;
        top: 65%;
        left: 80%;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #ef689e;
      }
      
      .submarine__periscope {
        position: absolute;
        top: 0%;
        left: 40%;
        width: 20px;
        height: 50px;
        border-right: 10px solid #e92d77;
        border-top: 10px solid #c6003d;
        border-left: 0px solid transparent;
        border-bottom: 0px solid transparent;
        border-top-right-radius: 10px;
      }
      
      .submarine__periscope-glass {
        position: absolute;
        left: 40%;
        top: 0%;
        width: 5px;
        height: 15px;
        background: #f7ac08;
        transform: translate(-50%, -15%);
      }
      
      .light {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 500px;
        height: 100px;
        background: linear-gradient(to left, #817E97, #130560);
        /* The points are: centered top, left bottom, right bottom */
        -webkit-clip-path: polygon(0% 0%, 50% 45%, 50% 55%, 0% 100%);
                clip-path: polygon(0% 0%, 50% 45%, 50% 55%, 0% 100%);
        transform: translate(-18%, -45%);
      }
      
      .bubbles__container {
        position: absolute;
        top: 50%;
        left: 55%;
        width: 100px;
        height: 50px;
        transform: translate(100%, -50%);
      }
      
      .bubbles {
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        left: 5%;
        top: 5%;
        background: #fff;
        opacity: 0.8;
      }
      
      .bubble-1 {
        top: 15%;
        left: 1%;
        opacity: 0;
        -webkit-animation: move-right 1s infinite linear;
                animation: move-right 1s infinite linear;
        -webkit-animation-delay: 0.25s;
                animation-delay: 0.25s;
      }
      
      .bubble-2 {
        top: 30%;
        left: 1%;
        opacity: 0;
        -webkit-animation: move-right 1s infinite linear;
                animation: move-right 1s infinite linear;
        -webkit-animation-delay: 0.5s;
                animation-delay: 0.5s;
      }
      
      .bubble-3 {
        top: 45%;
        left: 1%;
        opacity: 0;
        -webkit-animation: move-right 1s infinite linear;
                animation: move-right 1s infinite linear;
        -webkit-animation-delay: 0.75s;
                animation-delay: 0.75s;
      }
      
      .bubble-4 {
        top: 60%;
        left: 1%;
        opacity: 0;
        -webkit-animation: move-right 1s infinite linear;
                animation: move-right 1s infinite linear;
        -webkit-animation-delay: 1s;
                animation-delay: 1s;
      }
      
      .ground__container {
        position: absolute;
        top: 75%;
        left: 0%;
        width: 100%;
        height: 25%;
        background: #08003b;
        margin-top: 20px;
      }
      
      .ground1 {
        top: 75%;
        height: 100%;
        background: #0c0051;
      }
      
      .ground2 {
        position: absolute;
        top: 35%;
        width: 100%;
        height: 100%;
        background: #08003b;
      }
      
      .ground span {
        position: absolute;
        width: 60px;
        height: 60px;
        border-radius: 100%;
      }
      
      .ground1 span {
        background: #0c0051;
      }
      
      .ground2 span {
        background: #08003b;
        width: 80px;
        height: 80px;
        border-radius: 100%;
        transform: translateY(30%);
      }
      
      .up-1 {
        left: 0%;
        top: -2px;
        -webkit-animation: moveThegroundRight 3s infinite linear;
                animation: moveThegroundRight 3s infinite linear;
      }
      
      .up-2 {
        left: -10%;
        top: -4px;
        -webkit-animation: moveThegroundRight 4s infinite linear;
                animation: moveThegroundRight 4s infinite linear;
      }
      
      .up-3 {
        left: -20%;
        top: -6px;
        -webkit-animation: moveThegroundRight 5s infinite linear;
                animation: moveThegroundRight 5s infinite linear;
      }
      
      .up-4 {
        left: -30%;
        top: -8px;
        -webkit-animation: moveThegroundRight 6s infinite linear;
                animation: moveThegroundRight 6s infinite linear;
      }
      
      .up-5 {
        left: -40%;
        top: -10px;
        -webkit-animation: moveThegroundRight 7s infinite linear;
                animation: moveThegroundRight 7s infinite linear;
      }
      
      .up-6 {
        left: -50%;
        top: -12px;
        -webkit-animation: moveThegroundRight 8s infinite linear;
                animation: moveThegroundRight 8s infinite linear;
      }
      
      .up-7 {
        left: -60%;
        top: -14px;
        -webkit-animation: moveThegroundRight 9s infinite linear;
                animation: moveThegroundRight 9s infinite linear;
      }
      
      .up-8 {
        left: -70%;
        top: -16px;
        -webkit-animation: moveThegroundRight 10s infinite linear;
                animation: moveThegroundRight 10s infinite linear;
      }
      
      .up-9 {
        left: -80%;
        top: -18px;
        -webkit-animation: moveThegroundRight 11s infinite linear;
                animation: moveThegroundRight 11s infinite linear;
      }
      
      .up-10 {
        left: -90%;
        top: -20px;
        -webkit-animation: moveThegroundRight 12s infinite linear;
                animation: moveThegroundRight 12s infinite linear;
      }
      
      .up-11 {
        left: -100%;
        top: -22px;
        -webkit-animation: moveThegroundRight 13s infinite linear;
                animation: moveThegroundRight 13s infinite linear;
      }
      
      .up-12 {
        left: -110%;
        top: -24px;
        -webkit-animation: moveThegroundRight 14s infinite linear;
                animation: moveThegroundRight 14s infinite linear;
      }
      
      .up-13 {
        left: -120%;
        top: -26px;
        -webkit-animation: moveThegroundRight 15s infinite linear;
                animation: moveThegroundRight 15s infinite linear;
      }
      
      .up-14 {
        left: -130%;
        top: -28px;
        -webkit-animation: moveThegroundRight 16s infinite linear;
                animation: moveThegroundRight 16s infinite linear;
      }
      
      .up-15 {
        left: -140%;
        top: -30px;
        -webkit-animation: moveThegroundRight 17s infinite linear;
                animation: moveThegroundRight 17s infinite linear;
      }
      
      .up-16 {
        left: -150%;
        top: -32px;
        -webkit-animation: moveThegroundRight 18s infinite linear;
                animation: moveThegroundRight 18s infinite linear;
      }
      
      .up-17 {
        left: -160%;
        top: -34px;
        -webkit-animation: moveThegroundRight 19s infinite linear;
                animation: moveThegroundRight 19s infinite linear;
      }
      
      .up-18 {
        left: -170%;
        top: -36px;
        -webkit-animation: moveThegroundRight 20s infinite linear;
                animation: moveThegroundRight 20s infinite linear;
      }
      
      .up-19 {
        left: -180%;
        top: -38px;
        -webkit-animation: moveThegroundRight 21s infinite linear;
                animation: moveThegroundRight 21s infinite linear;
      }
      
      .up-20 {
        left: -190%;
        top: -40px;
        -webkit-animation: moveThegroundRight 22s infinite linear;
                animation: moveThegroundRight 22s infinite linear;
      }
      
      @-webkit-keyframes shadow-change {
        0%, 100% {
          background-image: linear-gradient(45deg, #c9e5d9 0%, #c9e5d9 20%, #fff 21%, #fff 39%, #c9e5d9 40%, #fff 41%, #fff 59%, #c9e5d9 60%);
        }
        20% {
          background-image: linear-gradient(45deg, #c9e5d9 20%, #c9e5d9 40%, #fff 41%, #fff 59%, #c9e5d9 60%, #fff 61%, #fff 79%, #c9e5d9 80%);
        }
        40% {
          background-image: linear-gradient(45deg, #c9e5d9 40%, #c9e5d9 60%, #fff 61%, #fff 79%, #c9e5d9 80%, #fff 81%, #fff 99%, #c9e5d9 0%);
        }
        60% {
          background-image: linear-gradient(45deg, #c9e5d9 60%, #c9e5d9 80%, #fff 81%, #fff 99%, #c9e5d9 0%, #fff 1%, #fff 19%, #c9e5d9 20%);
        }
        80% {
          background-image: linear-gradient(45deg, #c9e5d9 80%, #c9e5d9 0%, #fff 1%, #fff 19%, #c9e5d9 20%, #fff 21%, #fff 39%, #c9e5d9 40%);
        }
      }
      
      @keyframes shadow-change {
        0%, 100% {
          background-image: linear-gradient(45deg, #c9e5d9 0%, #c9e5d9 20%, #fff 21%, #fff 39%, #c9e5d9 40%, #fff 41%, #fff 59%, #c9e5d9 60%);
        }
        20% {
          background-image: linear-gradient(45deg, #c9e5d9 20%, #c9e5d9 40%, #fff 41%, #fff 59%, #c9e5d9 60%, #fff 61%, #fff 79%, #c9e5d9 80%);
        }
        40% {
          background-image: linear-gradient(45deg, #c9e5d9 40%, #c9e5d9 60%, #fff 61%, #fff 79%, #c9e5d9 80%, #fff 81%, #fff 99%, #c9e5d9 0%);
        }
        60% {
          background-image: linear-gradient(45deg, #c9e5d9 60%, #c9e5d9 80%, #fff 81%, #fff 99%, #c9e5d9 0%, #fff 1%, #fff 19%, #c9e5d9 20%);
        }
        80% {
          background-image: linear-gradient(45deg, #c9e5d9 80%, #c9e5d9 0%, #fff 1%, #fff 19%, #c9e5d9 20%, #fff 21%, #fff 39%, #c9e5d9 40%);
        }
      }
      @-webkit-keyframes move-right {
        0% {
          opacity: 0;
        }
        10% {
          opacity: 0.4;
          transform: translate(10%, 10%);
        }
        50% {
          opacity: 0.2;
          transform: translate(450%, 25%);
        }
        80% {
          opacity: 0;
          transform: translateX(555%);
        }
        100% {
          opacity: 0;
          left: 0%;
          top: 0%;
        }
      }
      @keyframes move-right {
        0% {
          opacity: 0;
        }
        10% {
          opacity: 0.4;
          transform: translate(10%, 10%);
        }
        50% {
          opacity: 0.2;
          transform: translate(450%, 25%);
        }
        80% {
          opacity: 0;
          transform: translateX(555%);
        }
        100% {
          opacity: 0;
          left: 0%;
          top: 0%;
        }
      }
      @-webkit-keyframes rotateInfinite {
        0% {
          transform: rotateX(0deg);
        }
        50% {
          transform: rotateX(180deg);
        }
        100% {
          transform: rotateX(360deg);
        }
      }
      @keyframes rotateInfinite {
        0% {
          transform: rotateX(0deg);
        }
        50% {
          transform: rotateX(180deg);
        }
        100% {
          transform: rotateX(360deg);
        }
      }
      @-webkit-keyframes moveThegroundRight {
        90% {
          opacity: 1;
          left: 100%;
        }
        95%, 100% {
          left: 1050%;
          opacity: 0;
        }
      }
      @keyframes moveThegroundRight {
        90% {
          opacity: 1;
          left: 100%;
        }
        95%, 100% {
          left: 1050%;
          opacity: 0;
        }
      }
  }



@media screen and (max-width: 700px) {

    .boat{
        position: relative;
        top: 450px;
    }

    .mobile{
        display: block;
       overflow: hidden;
    }

    .typewriter{
        margin: auto ;
        /* position: relative;
        top:50%;
        left:50%;
        transition: translate(-50%, -50%); */
    }

    
    body {
      
    }
    .wrapper{
        display: none;
    }
    .overlay{
        display: none;
    }
    html, body {
        background: #130560;
        overflow: hidden;
      }
      
      .seaContainer {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background: #130560;
        overflow: hidden;
      }
      
      .submarine__container {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 400px;
        height: 200px;
        transform: translate(-50%, -50%);
      }
      
      .submarine__body {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 250px;
        height: 80px;
        background: #e30449;
        border-radius: 50px;
        transform: translate(-50%, -50%);
      }
      
      .submarine__propeller {
        position: absolute;
        left: 80%;
        top: 50%;
        width: 30px;
        height: 50px;
        transform: translate(0%, -50%);
        perspective: 600px;
      }
      
      .propeller__perspective {
        width: 100%;
        height: 100%;
        transition: transform 1s;
        transform-style: preserve-3d;
        -webkit-animation: rotateInfinite 1s linear infinite;
                animation: rotateInfinite 1s linear infinite;
        cursor: pointer;
      }
      
      .submarine__propeller-parts {
        position: absolute;
        left: 0%;
        width: 100%;
        height: 100%;
        top: 0%;
        perspective: 1000px;
        transform-style: preserve-3d;
      }
      
      .darkOne {
        top: 0%;
        background: #f7ac08;
        transform: rotateY(180deg) rotateX(225deg);
      }
      
      .lightOne {
        top: 0%;
        background: #f7e349;
        transform: rotateX(45deg);
      }
      
      .submarine__sail {
        position: absolute;
        top: 40%;
        left: 50%;
        width: 90px;
        height: 50px;
        transform: translate(-50%, -100%);
        background: #c6003d;
        -webkit-clip-path: polygon(0% 0%, 70% 0%, 100% 100%, 0% 100%);
                clip-path: polygon(0% 0%, 70% 0%, 100% 100%, 0% 100%);
      }
      
      .submarine__sail-shadow {
        position: absolute;
        width: 160%;
        height: 10%;
        background: #a10532;
        border-radius: 5px;
      }
      
      .dark1 {
        left: 0%;
        top: 0%;
        transform: translate(0%, -33%);
      }
      
      .dark2 {
        left: 0%;
        top: 50%;
      }
      
      .light1 {
        left: 20%;
        top: 20%;
        width: 50%;
        background: #ef689e;
      }
      
      .submarine__window {
        width: 25px;
        height: 25px;
        border-radius: 100%;
        background-image: linear-gradient(45deg, #c9e5d9, #fff);
        border: 8px solid #a10532;
        z-index: 10;
        -webkit-animation: shadow-change 1s linear infinite;
                animation: shadow-change 1s linear infinite;
      }
      
      .one,
      .two {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      
      .one {
        left: 40%;
      }
      
      .two {
        left: 20%;
      }
      
      .submarine__shadow-dark {
        position: absolute;
        left: 70%;
        top: 50%;
        width: 70px;
        height: 10px;
        border-radius: 5px;
        transform: translate(-50%, -50%);
        background: #a10532;
      }
      
      .submarine__shadow-light {
        position: absolute;
        left: 35%;
        top: 13%;
        width: 100px;
        height: 6px;
        border-radius: 5px;
        transform: translate(-50%, -50%);
        background: #ef689e;
      }
      
      .submarine__shadow-arcLight {
        position: absolute;
        top: 65%;
        left: 80%;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #ef689e;
      }
      
      .submarine__periscope {
        position: absolute;
        top: 0%;
        left: 40%;
        width: 20px;
        height: 50px;
        border-right: 10px solid #e92d77;
        border-top: 10px solid #c6003d;
        border-left: 0px solid transparent;
        border-bottom: 0px solid transparent;
        border-top-right-radius: 10px;
      }
      
      .submarine__periscope-glass {
        position: absolute;
        left: 40%;
        top: 0%;
        width: 5px;
        height: 15px;
        background: #f7ac08;
        transform: translate(-50%, -15%);
      }
      
      .light {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 500px;
        height: 100px;
        background: linear-gradient(to left, #817E97, #130560);
        /* The points are: centered top, left bottom, right bottom */
        -webkit-clip-path: polygon(0% 0%, 50% 45%, 50% 55%, 0% 100%);
                clip-path: polygon(0% 0%, 50% 45%, 50% 55%, 0% 100%);
        transform: translate(-18%, -45%);
      }
      
      .bubbles__container {
        position: absolute;
        top: 50%;
        left: 55%;
        width: 100px;
        height: 50px;
        transform: translate(100%, -50%);
      }
      
      .bubbles {
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        left: 5%;
        top: 5%;
        background: #fff;
        opacity: 0.8;
      }
      
      .bubble-1 {
        top: 15%;
        left: 1%;
        opacity: 0;
        -webkit-animation: move-right 1s infinite linear;
                animation: move-right 1s infinite linear;
        -webkit-animation-delay: 0.25s;
                animation-delay: 0.25s;
      }
      
      .bubble-2 {
        top: 30%;
        left: 1%;
        opacity: 0;
        -webkit-animation: move-right 1s infinite linear;
                animation: move-right 1s infinite linear;
        -webkit-animation-delay: 0.5s;
                animation-delay: 0.5s;
      }
      
      .bubble-3 {
        top: 45%;
        left: 1%;
        opacity: 0;
        -webkit-animation: move-right 1s infinite linear;
                animation: move-right 1s infinite linear;
        -webkit-animation-delay: 0.75s;
                animation-delay: 0.75s;
      }
      
      .bubble-4 {
        top: 60%;
        left: 1%;
        opacity: 0;
        -webkit-animation: move-right 1s infinite linear;
                animation: move-right 1s infinite linear;
        -webkit-animation-delay: 1s;
                animation-delay: 1s;
      }
      
      .ground__container {
        position: absolute;
        top: 75%;
        left: 0%;
        width: 100%;
        height: 25%;
        background: #08003b;
        margin-top: 20px;
      }
      
      .ground1 {
        top: 75%;
        height: 100%;
        background: #0c0051;
      }
      
      .ground2 {
        position: absolute;
        top: 35%;
        width: 100%;
        height: 100%;
        background: #08003b;
      }
      
      .ground span {
        position: absolute;
        width: 60px;
        height: 60px;
        border-radius: 100%;
      }
      
      .ground1 span {
        background: #0c0051;
      }
      
      .ground2 span {
        background: #08003b;
        width: 80px;
        height: 80px;
        border-radius: 100%;
        transform: translateY(30%);
      }
      
      .up-1 {
        left: 0%;
        top: -2px;
        -webkit-animation: moveThegroundRight 3s infinite linear;
                animation: moveThegroundRight 3s infinite linear;
      }
      
      .up-2 {
        left: -10%;
        top: -4px;
        -webkit-animation: moveThegroundRight 4s infinite linear;
                animation: moveThegroundRight 4s infinite linear;
      }
      
      .up-3 {
        left: -20%;
        top: -6px;
        -webkit-animation: moveThegroundRight 5s infinite linear;
                animation: moveThegroundRight 5s infinite linear;
      }
      
      .up-4 {
        left: -30%;
        top: -8px;
        -webkit-animation: moveThegroundRight 6s infinite linear;
                animation: moveThegroundRight 6s infinite linear;
      }
      
      .up-5 {
        left: -40%;
        top: -10px;
        -webkit-animation: moveThegroundRight 7s infinite linear;
                animation: moveThegroundRight 7s infinite linear;
      }
      
      .up-6 {
        left: -50%;
        top: -12px;
        -webkit-animation: moveThegroundRight 8s infinite linear;
                animation: moveThegroundRight 8s infinite linear;
      }
      
      .up-7 {
        left: -60%;
        top: -14px;
        -webkit-animation: moveThegroundRight 9s infinite linear;
                animation: moveThegroundRight 9s infinite linear;
      }
      
      .up-8 {
        left: -70%;
        top: -16px;
        -webkit-animation: moveThegroundRight 10s infinite linear;
                animation: moveThegroundRight 10s infinite linear;
      }
      
      .up-9 {
        left: -80%;
        top: -18px;
        -webkit-animation: moveThegroundRight 11s infinite linear;
                animation: moveThegroundRight 11s infinite linear;
      }
      
      .up-10 {
        left: -90%;
        top: -20px;
        -webkit-animation: moveThegroundRight 12s infinite linear;
                animation: moveThegroundRight 12s infinite linear;
      }
      
      .up-11 {
        left: -100%;
        top: -22px;
        -webkit-animation: moveThegroundRight 13s infinite linear;
                animation: moveThegroundRight 13s infinite linear;
      }
      
      .up-12 {
        left: -110%;
        top: -24px;
        -webkit-animation: moveThegroundRight 14s infinite linear;
                animation: moveThegroundRight 14s infinite linear;
      }
      
      .up-13 {
        left: -120%;
        top: -26px;
        -webkit-animation: moveThegroundRight 15s infinite linear;
                animation: moveThegroundRight 15s infinite linear;
      }
      
      .up-14 {
        left: -130%;
        top: -28px;
        -webkit-animation: moveThegroundRight 16s infinite linear;
                animation: moveThegroundRight 16s infinite linear;
      }
      
      .up-15 {
        left: -140%;
        top: -30px;
        -webkit-animation: moveThegroundRight 17s infinite linear;
                animation: moveThegroundRight 17s infinite linear;
      }
      
      .up-16 {
        left: -150%;
        top: -32px;
        -webkit-animation: moveThegroundRight 18s infinite linear;
                animation: moveThegroundRight 18s infinite linear;
      }
      
      .up-17 {
        left: -160%;
        top: -34px;
        -webkit-animation: moveThegroundRight 19s infinite linear;
                animation: moveThegroundRight 19s infinite linear;
      }
      
      .up-18 {
        left: -170%;
        top: -36px;
        -webkit-animation: moveThegroundRight 20s infinite linear;
                animation: moveThegroundRight 20s infinite linear;
      }
      
      .up-19 {
        left: -180%;
        top: -38px;
        -webkit-animation: moveThegroundRight 21s infinite linear;
                animation: moveThegroundRight 21s infinite linear;
      }
      
      .up-20 {
        left: -190%;
        top: -40px;
        -webkit-animation: moveThegroundRight 22s infinite linear;
                animation: moveThegroundRight 22s infinite linear;
      }
      
      @-webkit-keyframes shadow-change {
        0%, 100% {
          background-image: linear-gradient(45deg, #c9e5d9 0%, #c9e5d9 20%, #fff 21%, #fff 39%, #c9e5d9 40%, #fff 41%, #fff 59%, #c9e5d9 60%);
        }
        20% {
          background-image: linear-gradient(45deg, #c9e5d9 20%, #c9e5d9 40%, #fff 41%, #fff 59%, #c9e5d9 60%, #fff 61%, #fff 79%, #c9e5d9 80%);
        }
        40% {
          background-image: linear-gradient(45deg, #c9e5d9 40%, #c9e5d9 60%, #fff 61%, #fff 79%, #c9e5d9 80%, #fff 81%, #fff 99%, #c9e5d9 0%);
        }
        60% {
          background-image: linear-gradient(45deg, #c9e5d9 60%, #c9e5d9 80%, #fff 81%, #fff 99%, #c9e5d9 0%, #fff 1%, #fff 19%, #c9e5d9 20%);
        }
        80% {
          background-image: linear-gradient(45deg, #c9e5d9 80%, #c9e5d9 0%, #fff 1%, #fff 19%, #c9e5d9 20%, #fff 21%, #fff 39%, #c9e5d9 40%);
        }
      }
      
      @keyframes shadow-change {
        0%, 100% {
          background-image: linear-gradient(45deg, #c9e5d9 0%, #c9e5d9 20%, #fff 21%, #fff 39%, #c9e5d9 40%, #fff 41%, #fff 59%, #c9e5d9 60%);
        }
        20% {
          background-image: linear-gradient(45deg, #c9e5d9 20%, #c9e5d9 40%, #fff 41%, #fff 59%, #c9e5d9 60%, #fff 61%, #fff 79%, #c9e5d9 80%);
        }
        40% {
          background-image: linear-gradient(45deg, #c9e5d9 40%, #c9e5d9 60%, #fff 61%, #fff 79%, #c9e5d9 80%, #fff 81%, #fff 99%, #c9e5d9 0%);
        }
        60% {
          background-image: linear-gradient(45deg, #c9e5d9 60%, #c9e5d9 80%, #fff 81%, #fff 99%, #c9e5d9 0%, #fff 1%, #fff 19%, #c9e5d9 20%);
        }
        80% {
          background-image: linear-gradient(45deg, #c9e5d9 80%, #c9e5d9 0%, #fff 1%, #fff 19%, #c9e5d9 20%, #fff 21%, #fff 39%, #c9e5d9 40%);
        }
      }
      @-webkit-keyframes move-right {
        0% {
          opacity: 0;
        }
        10% {
          opacity: 0.4;
          transform: translate(10%, 10%);
        }
        50% {
          opacity: 0.2;
          transform: translate(450%, 25%);
        }
        80% {
          opacity: 0;
          transform: translateX(555%);
        }
        100% {
          opacity: 0;
          left: 0%;
          top: 0%;
        }
      }
      @keyframes move-right {
        0% {
          opacity: 0;
        }
        10% {
          opacity: 0.4;
          transform: translate(10%, 10%);
        }
        50% {
          opacity: 0.2;
          transform: translate(450%, 25%);
        }
        80% {
          opacity: 0;
          transform: translateX(555%);
        }
        100% {
          opacity: 0;
          left: 0%;
          top: 0%;
        }
      }
      @-webkit-keyframes rotateInfinite {
        0% {
          transform: rotateX(0deg);
        }
        50% {
          transform: rotateX(180deg);
        }
        100% {
          transform: rotateX(360deg);
        }
      }
      @keyframes rotateInfinite {
        0% {
          transform: rotateX(0deg);
        }
        50% {
          transform: rotateX(180deg);
        }
        100% {
          transform: rotateX(360deg);
        }
      }
      @-webkit-keyframes moveThegroundRight {
        90% {
          opacity: 1;
          left: 100%;
        }
        95%, 100% {
          left: 1050%;
          opacity: 0;
        }
      }
      @keyframes moveThegroundRight {
        90% {
          opacity: 1;
          left: 100%;
        }
        95%, 100% {
          left: 1050%;
          opacity: 0;
        }
    }
}